.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card {
  height: 150px;
  margin: 5px 10px;
  min-width: calc(33% - 20px);
  transition: width 0.11s;

  &.red {
    background-color: red;
  }
  &.green {
    background-color: green;
  }
  &.blue {
    background-color: blue;
  }
  &.yellow {
    background-color: yellow;
  }
  &.pink {
    background-color: pink;
  }
  &.black {
    background-color: black;
  }
}
